.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  padding: 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.link {
  padding: 1rem;
}

.page-title-style {
  font-size: 2rem;
  color: rgb(23, 57, 150);
  font-weight: 700;
  padding: 1rem;
}